<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\Python\Python38\python.exe|&quot;C:\Program Files\Python\Python38\lib\site-packages\wfastcgi.py&quot;" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
      <caching enabled="false" />
      <staticContent>
        <clientCache cacheControlMode="DisableCache" />
      </staticContent>
  </system.webServer>

  <appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="app.app" />
    <add key="PYTHONPATH" value="E:\Flask\VacationLeave" />
    <add key="WSGI_LOG" value="E:\Flask\VacationLeave\wfastcgi.log" />
  </appSettings>
</configuration>
